#u248-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u299-5,#u343-5,#u483-5,#u504-5,#u536-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u548-4,#u278-2,#u306-4,#u308-4,#u316-4,#u328-4,#u324-4,#u344-4,#u347-4,#u355-4,#u349-4,#u353-4,#u487-4,#u496-4,#u489-4,#u492-4,#u486-4,#u505-4,#u510-4,#u500-4,#u502-4,#u507-4,#u543-4,#u532-4,#u539-4,#u542-4,#u535-4,#u244-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

